@media screen and (max-width: 1150px) {
    header{
        .header{
            padding: 20px 0;
            .header-links{
                a{
                    font-weight: 500;
                    margin: 0 10px;
                    font-size: 15px;
                }
            }

            &.header-search{
                .header-input{
                    margin-right: 0;
                    padding: 12px;
                    width: 40%;
                    display: flex;
                    justify-content: space-between;
                }
            }

        }
    }
}